*.vvp
*.vcd
*.toml
env/
__pycache__/
results.xml
sim_build/
docs/specs/
coverage_functional.xml
adapter.tex
alu.tex
exp_diff.tex
main.tex
mant_shift.tex
normalizer.tex
rounder.tex
main.aux
main.log
main.nav
main.out
main.snm
main.tex
main.toc
main.vrb
errors.txt
cov_main.cpp
cov_tb.sv
run_coverage.sh
